@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin title {
  text-align: center;
  text-transform: uppercase;
  color: $red;
  line-height: 1.23;
  margin-bottom: 100px;
  @include _800() {
    font-size: 25px;
  }

  @include _600 {
    margin-bottom: 50px;
  }
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
